<%- include('../../../partials/Administrador/head.ejs') %> 
<link rel="stylesheet" type="text/css" href="/css/servicos.css">
<%- include('../../../partials/Administrador/head2.ejs') %> 
<body>
    <%- include('../../../partials/Administrador/nav.ejs') %>
    <%- include('../../../partials/Administrador/arquivosSvg.ejs') %>
    <div id="container">
        <div class="container">
            <button class="openbtn mt-3" onclick="openNav()">&#9776; Menu</button>
            <div class="card-header">
                <h1 class="display-4 fw-bold text-center">Suporte ao Cliente</h1>
                <hr>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-success d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                  <div>
                    As menssagens que aqui são respondidas apareceram no email dos clientes!
                  </div>
                </div>
            </div>
            <div class="card-body">
                <% if(Object.values(suportes).length === 0){%>
                    <div class="alert alert-secondary alert-dismissible fade show text-center" role="alert">
                        <h6 class="display-6">Não Existem Pedidos de Ajuda!</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <%}else{ %>
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Nº Protocolo</th>
                            <th>Cliente</th>
                            <th>Email</th>
                            <th>Celular</th>
                            <th>Telefone</th>
                            <th>Ação</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% suportes.forEach(suporte => { %>
                                <tr>
                                  <th><%=suporte.id%> </th>
                                  <th><%=suporte.primeiroNome%></th>
                                  <th><%=suporte.email%></th>
                                  <th><%=suporte.celular%></th>
                                  <th><%=suporte.telefone%></th>
                                  <th>
                                      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal<%=suporte.id%>">
                                          Responder
                                      </button>
                                  </th>
                                </tr>
                                <!-- MODAL COM INFORMAÇÕES ADICIONAIS -->
                                <div class="modal fade" id="exampleModal<%=suporte.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Mensagem Enviada Para: <b class="text-primary"><%=suporte.email%></b></h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <form method="post" action="/admin/suporte/cliente" onsubmit="confirmResposta()">
                                            <input type="hidden" name="primeiroNome" value="<%=suporte.primeiroNome%>">
                                            <input type="hidden" name="emailDestinatario" value="<%=suporte.email%>">
                                            <input type="hidden" name="pergunta" value="<%=suporte.descricao%>">
                                            <%if(suporte.descricao.length <= 50){%>
                                              <div class="mb-3 perguntaCliente">
                                                <label for="recipient-name" class="col-form-label text-primary"><i class="bi bi-person iconesUsadosChat"></i><%=suporte.primeiroNome + "  "%>Perguntou:</label>
                                                <textarea class="form-control" id="message-text" rows="1" disabled><%=suporte.descricao%></textarea>
                                              </div>
                                            <%}else if(suporte.descricao.length > 50 && suporte.descricao.length <= 150){%>
                                              <div class="mb-3 perguntaCliente">
                                                <label for="recipient-name" class="col-form-label text-primary"><i class="bi bi-person iconesUsadosChat"></i><%=suporte.primeiroNome + "  "%>Perguntou:</label>
                                                <textarea class="form-control" id="message-text" rows="2" disabled><%=suporte.descricao%></textarea>
                                              </div>
                                            <%}else{%>
                                              <div class="mb-3 perguntaCliente">
                                                <label for="recipient-name" class="col-form-label text-primary"><i class="bi bi-person iconesUsadosChat"></i><%=suporte.primeiroNome + "  "%>Perguntou:</label>
                                                <textarea class="form-control" id="message-text" rows="3" disabled><%=suporte.descricao%></textarea>
                                              </div>
                                            <%}%>
                                            <div class="mb-3">
                                              <label for="message-text" class="col-form-label">Resposta:</label>
                                              <textarea class="form-control" id="message-text" rows="4" name="resposta" required></textarea>
                                            </div>
                                            <button class="btn btn-success" name="id" value="<%=suporte.id%>">Responder</button>
                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            <% }); %> 
                        </tbody>
                    </table>
                <% }%>
            </div>
        </div>
    </div>
</body>
<%- include('../../../partials/Administrador/footer.ejs') %>
<script src="/js/ajudaCliente.js"></script>