<%- include('../../../partials/Administrador/head.ejs') %> 
<link rel="stylesheet" type="text/css" href="/css/categoria.css">
<%- include('../../../partials/Administrador/head2.ejs') %> 
<body>
    <%- include('../../../partials/Administrador/nav.ejs') %>
        <div id="container">
            <div class="container">
                <button class="openbtn mt-3" onclick="openNav()">&#9776; Menu</button>
                <div class="card-header">
                    <h6 class="display-4 text-center fw-bold">Atualizar minhas informações</h6>
                </div>
                <div class="body">
                    <form action="/admin/edit" method="post" id="cadastroAdmin" enctype="multipart/form-data">
                        <div class="containerImg">
                            <div class="max-width">
                                <div class="imageContainer">
                                    <img src="/img/fotoAdmin.png" id="imgPhoto">
                                </div>
                            </div>
                        </div>
                        <input class="form-control" type="file" name="adminPerfil" accept="image/*" id="imgUpload">
                        <hr>
                        <div class="g-2 row">
                            <div class="col-md">
                                <label>Nome</label>
                                <div class="form-floating">
                                    <input type="text" name="primeiroNome" value="<%=admins.nome%>" placeholder=" " class="form-control" disabled required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>Sobrenome</label>
                                <div class="form-floating">
                                    <input type="text" name="sobrenome" value="<%=admins.sobrenome%>" placeholder=" " class="form-control" disabled required>
                                </div>     
                            </div>
                        </div>
                        <br>
                        <div class="g-2 row">
                            <div class="col-md">
                                <label>CPF</label>
                                <div class="form-floating">
                                    <input type="text" name="cpf" value="<%=admins.cpf%>" placeholder=" " id="cpf" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>RG</label>
                                <div class="form-floating">
                                    <input type="text" name="rg" value="<%=admins.rg%>" placeholder=" " id="rg" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="g-2 row">
                            <div class="col-md">
                                <label>CEP</label>
                                <div class="form-floating">
                                    <input type="text" name="cep" placeholder=" " value="<%=admins.cep%>" id="cep" class="form-control" size="10" maxlength="9" onblur="pesquisacep(this.value);" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>Rua</label>
                                <div class="form-floating">
                                    <input type="text" name="rua" value="<%=admins.rua%>" placeholder=" " id="rua" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="g-3 row">
                            <div class="col-md">
                                <label>Bairro</label>
                                <div class="form-floating">
                                    <input type="text" name="bairro" placeholder=" " value="<%=admins.bairro%>" id="bairro" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>Cidade</label>
                                <div class="form-floating">
                                    <input type="text" name="cidade" value="<%=admins.cidade%>" placeholder=" " id="cidade" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>Estado</label>
                                <div class="form-floating">
                                    <input type="text" name="estado" placeholder=" " value="<%=admins.estado%>" id="uf" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="g-2 row">
                            <div class="col-md">
                                <label>Data de Nascimento</label>
                                <div class="form-floating">
                                    <input type="date" name="dataNascimento" value="<%=admins.dataNascimento%>" placeholder=" "class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>E-mail</label>
                                <div class="form-floating">
                                    <input type="email" name="email" value="<%=admins.email%>" placeholder=" " class="form-control" disabled required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="g-2 row">
                            <div class="col-md">
                                <label>Tipo de Usuário</label>
                                <div class="form-floating">
                                    <input type="text" name="tipoUsuario" value="admin" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>Celular</label>
                                <div class="form-floating">
                                    <input type="text" name="celular" value="<%=admins.celular%>" id="cel" placeholder=" " class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="g-2 row">
                            <div class="col-md">
                                <label>Senha</label>
                                <div class="form-floating">
                                    <input type="password" name="senha" value="<%=admins.senha%>" class="form-control" placeholder=" " required>
                                </div>
                            </div>
                            <div class="col-md">
                                <label>Confirme a senha</label>
                                <div class="form-floating">
                                    <input type="password" name="confirmaSenha" value="<%=admins.senha%>" placeholder=" " class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="d-grid col-6 gap-2 mx-auto">
                            <button class="btn btn-warning" name="id" value="<%=admins.id%>">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
<%- include('../../../partials/Administrador/footer.ejs') %>
<script type="text/javascript" src="/js/admin.js"></script>