<%- include('../../../partials/Administrador/head.ejs') %> 
<link rel="stylesheet" type="text/css" href="/css/categoria.css">
<%- include('../../../partials/Administrador/head2.ejs') %> 
<body>
    <%- include('../../../partials/Administrador/nav.ejs') %>
        <div id="container">
            <div class="container">
                <button class="openbtn mt-3" onclick="openNav()">&#9776; Menu</button>
                <div class="card-header">
                    <h6 class="display-4 text-center fw-bold">Atualizar Postagem</h6>
                    <a href="/admin/postagens" class="btn btn-primary linkVoltar"><i class="bi bi-arrow-left"></i>
                        <div class="itens-sidebar">
                            Voltar
                        </div>
                    </a>
                </div>
                <div class="card-body">
                    <form action="/admin/postagem/edit" name="publicacao" method="post">
                        <div class="form-floating">
                            <input type="text" placeholder=" " value="<%=posts.titulo%>" class="form-control" name="titulo" required>
                            <label>Título da Postagem</label>
                        </div>
                        <br>
                        <div class=" g-2 row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="date" value="<%=posts.dataInicio%>" name="dataInicio" class="form-control">
                                    <label>Data Início</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="date" value="<%=posts.dataFim%>" name="dataFim" class="form-control">
                                    <label>Data Fim</label>
                                </div>
                            </div>
                        </div> 
                        <br>
                        <textarea name="corpoPostagem" id="postagem" cols="30" rows="10" class="form-control"><%=posts.corpoPostagem%></textarea>
                        <div class="d-grid gap-2 col-6 mx-auto mt-2 botaoCadastro">
                            <button class="btn btn-warning" name="id" value="<%=posts.id%>" onclick="return validaPublicacao()">Atualizar</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
</body>
<%- include('../../../partials/Administrador/footer.ejs') %>
<script type="text/javascript" src="/js/admin.js"></script>
<script src="/js/postagem.js"></script>
<script src="/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#postagem',
        language: 'pt_BR',
        plugins: ['autolink fullpage fullscreen hr image table preview']
    });
</script>