<div class="list-group">
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-file-check"></i>  CPF   : <%=cliente.cpf%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-file-medical"></i>  Nº IDENTIDADE   : <%=cliente.numero_identidade%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-clipboard-check"></i>  ORGÃO EXPEDITOR: <%=cliente.orgao_expeditor_identidade%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-bank2"></i>  ESTADO RG: <%=cliente.estado_identidade%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-envelope"></i>  E-MAIL: <%=cliente.email%></h5>
        </div>  
    </a>
</div>