<%-include('../../partials/UserLog/head')%> 
  <!-- AQUI ENTRA O ESTILO PESSOAL -->
  <link rel="stylesheet" type="text/css" href="/css/conteudoIndex.css">
<% -include('../../partials/UserLog/head2') %> 
<body class="text-center text-white bg-primary">
  <div class="container p-3 mx-auto">
    <%-include('../../partials/UserLog/nav') %> 
    <%if(Object.values(servicos).length === 0){%>
      <div class="alert alert-secondary alert-dismissible fade show text-center erroServico" role="alert">
        <h6 class="display-6">
          <b>Não</b> foram encontrados <b>serviços</b> para o seu <b>Grupo</b>.
        </h6>  
        <p>
          <i class="bi bi-emoji-frown text-secondary iconeUsado"></i>
        </p>
        <p>
          <a href="#">
            Faça contado com o nosso suporte e verifique seus dados!
          </a>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%}else{%>
      <div class="tituloServicos">
        <h3>
          Lista de Serviços Disponíveis <i class="bi bi-bag"></i>
        </h3>
      </div>
      <section class="card-list">
        <%servicos.forEach(servico => {%>
          <article class="card text-primary">
            <header class="card-header">
              <p>Serviço</p>
              <h2><%=servico.nome%></h2>
            </header>
            <div class="card-author">
              <a class="author-avatar" href="#">
                <i class="bi bi-calculator" style="font-size: 2rem;"></i>
              </a>
    
              <div class="author-name">
                <div class="author-name-prefix">Prestado por:</div>
                Agenda Contabilidade
              </div>
            </div>
            <div class="tags">
              <a href="#" data-bs-toggle="modal" data-bs-target="#cadastraServico<%=servico.id%>">Solicitar</a>
            </div>
          </article>

          <!-- MODAL RESPONSÁVEL POR CADASTRAR UM SERVIÇO -->
          <div class="modal fade" id="cadastraServico<%=servico.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
              <div class="modal-content">
                <form action="/user/solicita/servico" method="post" onsubmit="confirmaServico();">
                  <div class="modal-header">
                    <h6 class="modal-title text-secondary display-6" id="exampleModalLabel"><i class="bi bi-bag-check"></i>  Solicitar Serviço: <%=servico.nome%></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="text" value="agendacontabilidadectga@gmail.com" class="form-control" placeholder=" " disabled>
                          <label class="text-dark dadosSolicitaServico">Destinatário</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="text" value="<%=servico.nome%>" class="form-control" placeholder=" " disabled>
                          <label class="text-dark dadosSolicitaServico">Assunto</label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="observacaoServico">
                      <label class="dadosSolicitaServico text-dark">Descrição da solicitação</label>
                    </div>
                    <textarea name="observacao" class="form-control" rows="3" required></textarea>
                    <input type="hidden" value="<%=usuario.id%>" name="cliente">
                    <input type="hidden" value="<%=servico.nome%>" name="nome">
                    <input type="hidden" value="Em processo" name="status">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Solicitar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- FIM MODAL RESPONSÁVEL POR CADASTRAR UM SERVIÇO -->
        <%});%>
      </section>
    <%}%>
  </div>
  <script type="text/javascript">
    var confirmaServico = () => {
      alert("Serviço solicitado com sucesso !");
    };
  </script>
</body>
<%-include('../../partials/UserLog/footer.ejs')%>
